h1 {
    color: red;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 5;
}

.div2 {
    grid-area: 2 / 1 / 6 / 2;
}

.div3 {
    grid-area: 2 / 2 / 6 / 3;
}

.div4 {
    grid-area: 2 / 3 / 6 / 4;
}

.div5 {
    grid-area: 2 / 4 / 6 / 5;
}
.parent > div {
    border: solid 1px black;
}
.Dnone{
    display: none;
    visibility: hidden;
}